body,
a:active {background-color:#CEE1E9;}
body {font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;font-size:1em;}
address {margin-right:5.3%;}
input, textarea, select {border-width:1px;border-style: solid;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
input, textarea, select, option {font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
input, textarea, select,.entity_actions .dialogbox input,.mark-top {border-color:#AAAAAA;}